<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Wish List</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <a href="/logout">logout</a>
    <h1>Hello, {{request.session.first_name}}</h1>

    <br>
    <h3>Your Wish List:</h3>

    <table>
        <tr>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>
        {% for i in mytrips %}
        <tr>
            <td><a href="/show/{{i.id}}">{{ i.destination }}</a></td>
            <td>{{ i.planner.name }}</td>
            <td>{{ i.created_at }}</td>
            <td><a href="/remove/{{ i.id }}">Remove from my Wishlist</a></td>
        </tr>
        {% endfor %}
    </table>
    <table>
        {% for i in mycreatedtrips %}
        <tr>
            <td><a href="/show/{{i.id}}">{{ i.destination }}</a></td>
            <td>{{ i.planner.name }}</td>
            <td>{{ i.created_at }}</td>
            <td><a href="/delete/{{ i.id }}">Delete</a></td>
          </tr>
          {% endfor %}
    </table>
    <br>
    <h3>Other User's Wish List</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>
        {% for i in othertrips %}
        <tr>
            <td><a href="/show/{{i.id}}">{{ i.destination }}</a></td>
            <td>{{ i.planner.name }}</td>
            <td>{{ i.created_at }}</td>
            <td><a href="/join/{{ i.id }}">Add to my Wishlist</a></td>
        </tr>
        {% endfor %}
    </table>
    <!-- <p>{{ othertrips }}</p> -->
    <br>
    <a href="/add">Add Item</a>
</body>
</html>
